extends base.pug

block script
  script(src="/static/index.js")

block style
  style
     include ../static/style.css
     include ../static/phone.css
     
     
block content
    section#introSection
       div#bg
           img(src='/static/img/bggg.png') 
       div Welcome Jin24.in
       div.small Jo Hukum Mere Aaka
      

    section#service-container
        h1#h-primary.center Our Services
        div.services0
          div.services
             div#box
                 img(src="/static/img/map.jpg")
                 h2#h-secondary.center Map Designing
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam. 
                 
    
             div#box
                 img(src="/static/img/const.jpg")
                 h2#h-secondary.center  Construction
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam.  
                 
    
             div#box
                 img(src="/static/img/reno2.jpg")
                 h2#h-secondary.center Renovation
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam.  
                  
          div.services1  
             div#box
                 img(src="/static/img/paint.jpg")
                 h2#h-secondary.center Painting
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam.   
                 
             
             div#box
                 img(src="/static/img/int.jpg")
                 h2#h-secondary.center Interior Designing
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam.  
                 
             
             div#box
                 img(src="/static/img/consmat.jpg")
                 h2#h-secondary.center Construction Material
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam.  
          
          div.services2      
             div#box
                 img(src="/static/img/plumb1.jpg")
                 h2#h-secondary.center Plumbering
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam. 
                 
             div#box
                 img(src="/static/img/wire.jpg")
                 h2#h-secondary.center Electric Wiring
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam. 
                 
             div#box
                 img(src="/static/img/carp.jpg")
                 h2#h-secondary.center Door/Window Designing
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam. 
          
          div.services3       
             div#box
                 img(src="/static/img/falcel.jpeg")
                 h2#h-secondary.center False Celling
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique,  perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam. 
                 
             div#box
                 img(src="/static/img/glawin.jpg")
                 h2#h-secondary.center Glass Fitting
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam. 
                 
             div#box
                 img(src="/static/img/tiles.jpg")
                 h2#h-secondary.center Marble/Tiles Flooring
                 p#center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro animi id temporibus similique, perspiciatis nulla tempore impedit quidem atque recusandae eos quibusdam. 