doctype html
html
  head
    title JIN24.IN|Best Housing Services On Demand 
    block script
    block style
    body
      nav#navbar
          ul 
            div#logo
                img(src="/static/img/logo.jpeg")
                |JIN24.in
            li #[a(href="/") Home]
            li #[a(href="#service-container1") Our Services]
            li #[a(href="/") Our Works ]
            li #[a(href="/") About Us]
            li #[a(href="/promises") Our Promises]
            li #[a(href="/contact") Contact Us]

  block content 
  footer#footer
          | Copyright © 2021-22  jin24.in | All rights reserved.  . 