extends base.pug

block script
  script(src="/static/index.js")

block style
  style
      include ../static/style.css
      include ../static/stylecontact.css
block content
    
    <section id="contact">
        <h1 class="h-primary centerr">Contact Us</h1>
        <div id="contact-box">
        
            <form action= "/contact"  method= "POST">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="Name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="Phone_No" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="Email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="message">Tell Us Something: </label>
                    <textarea name="Message" id="message" cols="30" rows="10"></textarea>
                </div>
                
                <div>
                    <button class="btn">Submit</button>
                </div>
            </form>
        </div>

    </section>